body {display: flex;
justify-content: center;}
.cuadro {
    margin-top: 0%;
    width: 60%;
    justify-content: center;
    font-family: "Arimo";
    background: linear-gradient(90deg, rgb(9, 102, 21), rgb(7, 170, 56), rgba(98, 168, 41, 0.774));
    -webkit-box-shadow: 9px 13px 25px 0px #0000002e;
    -moz-box-shadow: 9px 13px 25px 0px #0000002e;
    box-shadow: 9px 13px 25px 0px #0000002e;
    animation: slideUp 2000ms ease; border-radius: 20px;}
    h1{font-family: cursive; text-align: center;font-size: 60px; color: #ffffff; }

    p{ color: white; margin: 50px; font-size: 30px;}